<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap3/css/custom.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
     

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>UT Auction</h1>
        <p>The official UT market place</p>
        <p><a data-toggle="modal" data-target="#login-overlay" class="btn btn-success btn-lg">Login</a>
        <a data-toggle="modal" data-target="#register-overlay" class="btn btn-danger btn-lg">Register</a></p>
      </div>
    </div>
    </div>

    {% if alert == "registration-success" %}
      <div class ="alert alert-success" role="alert">Registration successful</div>
    {% elif alert == "registration-error" %}
      <div class ="alert alert-danger" role="alert">Please check that passwords match</div>
    {% elif alert == "registration-duplicate" %}
      <div class ="alert alert-danger" role="alert">An account with that email already exists</div>
    {% endif %}
    {% if alert == "login-success" %}
      <div class ="alert alert-success" role="alert">Login successful</div>
      <a href="../market" class="btn btn-primary btn-lrg">Go to Market</a>
    {% elif alert == "login-error" %}
      <div class ="alert alert-danger" role="alert">Login failed</div>
    {% elif alert == "login-wrong" %}
      <div class="alert alert-danger" role="alert">Wrong password. Please try again</div>
    {% endif %}


    

    <div id="login-overlay" class="modal fade" role="dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Login to UT Auction</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login" novalidate="novalidate">
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <input type="email" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> Remember login
                                  </label>
                                  <p class="help-block">(if this is a private computer)</p>
                              </div>
                              <button type="submit" class="btn btn-success btn-block">Login</button>
                              <a href="/forgot/" class="btn btn-default btn-block">Help to login</a>
                          </form>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div id="register-overlay" class="modal fade" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span>
        </button>
      <h4 class="modal-title" id="myModalLabel">Create new account for UT Auction</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="registerForm" method="POST" action="/register" novalidate="novalidate">
                              <div class="form-group">
                                  <label for="username" class="control-label">Username</label>
                                  <input type="email" class="form-control" id="username" name="username" value="" required="" title="Please enter your username" placeholder="example@utexas.edu">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="confirm-password" class="control-label">Confirm Password</label>
                                  <input type="password" class="form-control" id="confirm-password" name="confirm-password" value="" required="" title="Please repeat your password">
                                  <span class="help-block"></span>
                              </div>
                              
                              <button type="submit" class="btn btn-success btn-block">Register</button>
                          </form>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/bootstrap3/js/bootstrap.min.js"></script>
  </body>
</html>
